<div class="confirmation-container">
	<h1 class="confirmation-header">Order Confirmation</h1>
	<div class="confirmation-text">		
		Your order number is <b class="bold-text">#<%= @transaction.id %></b>. An email has been sent to <b class="bold-text"><%= @transaction.sender_email %></b> 
		confirming your order. 
	</div>
	<div class="confirmation-text">		
		A link to download the gift card is being sent to <b class="bold-text"><%= @transaction.email %></b>.
	</div>
	<div class="confirmation-text">
		If you have any questions or require any help, please email us at <a href="mailto:help@trygifty.com">help@trygifty.com</a>.
	</div>
</div>

<div id="fb-root"></div>
<script src="https://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({
appId : '495680147116390',
status : true, // check login status
cookie : true, // enable cookies to allow the server to access the session
xfbml : true // parse XFBML
});
FB.Canvas.scrollTo(0,0);
</script>