<h1>Listing Transactions</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.item.amount %></td>
    <td><%= transaction.email %></td>
    <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

